Creating secret object with github credentials

Using the secret to create github api integration

In [ ]:
CREATE OR REPLACE API INTEGRATION git_api_integration
API_PROVIDER = git_https_api
API_ALLOWED_PREFIXES = ('https://github.com')
ALLOWED_AUTHENTICATION_SECRETS = (git_secret)
ENABLED = TRUE

Creating role hierarchy

In [ ]:
CREATE ROLE ADMIN;
CREATE ROLE DEVELOPER;
CREATE ROLE PII;

GRANT ROLE ACCOUNTADMIN TO ROLE ADMIN;
GRANT ROLE ACCOUNTADMIN TO ROLE PII;
GRANT ROLE ADMIN TO ROLE DEVELOPER;

Switching to admin role

In [ ]:
GRANT ROLE ADMIN TO USER arjit8snowflake;
GRANT ROLE PII TO USER arjit8snowflake;
GRANT ROLE DEVELOPER TO USER arjit8snowflake;

Creating the schema of the table

In [ ]:
CREATE TABLE employees_csv (
    EMPLOYEE_ID INT PRIMARY KEY,
    FIRST_NAME VARCHAR(50),
    LAST_NAME VARCHAR(50),
    EMAIL VARCHAR(100),
    PHONE_NUMBER VARCHAR(20),
    HIRE_DATE DATE,
    JOB_ID VARCHAR(10),
    SALARY DECIMAL(10, 2),
    COMMISSION_PCT DECIMAL(5, 2),
    MANAGER_ID INT,
    DEPARTMENT_ID INT,
    ADDRESS VARCHAR(255)
);

Creating the internal stage for employees data

In [ ]:
CREATE OR REPLACE STAGE employees_data_int_stage;
ls @employees_data_int_stage;

-- PUT command to push data from local machine to snowflake stage using snowsql
-- LINUX: - PUT 'file:///Users/your-username/Desktop/csvfiles/employees.csv' @employees_data_int_stg;
-- WINDOWS: - PUT 'file://<your-drive-name>:/Users/<your-username>/Desktop/csvfiles/employees.csv

creating file format for the employees csv file

In [ ]:
CREATE OR REPLACE FILE FORMAT infer_csv_format
TYPE = CSV
COMPRESSION = GZIP
FIELD_DELIMITER = ','
PARSE_HEADER = TRUE
DATE_FORMAT = 'YYYY-MM-DD'
FIELD_OPTIONALLY_ENCLOSED_BY = '"'

using the data from internal stage to infer schema

In [ ]:
SELECT * FROM TABLE(INFER_SCHEMA(
 LOCATION=>'@employees_data_int_stage/employees2.csv.gz'
 , FILE_FORMAT=>'infer_csv_format'));

Create table schema using template

In [ ]:
CREATE OR REPLACE TABLE employees_csv USING TEMPLATE (
SELECT ARRAY_AGG(OBJECT_CONSTRUCT(*))
 WITHIN GROUP (ORDER BY ORDER_ID)
 FROM TABLE (INFER_SCHEMA(
 LOCATION=>'@employees_data_int_stage/employees2.csv.gz',
 FILE_FORMAT=>'infer_csv_format')));

 SELECT GET_DDL('table', 'employees_csv');

In [ ]:
ALTER TABLE employees_csv ADD COLUMN elt_by VARCHAR(100);
ALTER TABLE employees_csv ADD COLUMN elt_ts TIMESTAMP_LTZ;
ALTER TABLE employees_csv ADD COLUMN file_name VARCHAR(100);


-- ALTER TABLE employees_csv DROP COLUMN elt_by;
-- ALTER TABLE employees_csv DROP COLUMN elt_ts;
-- ALTER TABLE employees_csv DROP COLUMN file_name;

Copying data from employees csv file in internal stage to table

In [ ]:
CREATE OR REPLACE FILE FORMAT read_csv_format
TYPE = CSV
FIELD_DELIMITER = ','
SKIP_HEADER = 1
FIELD_OPTIONALLY_ENCLOSED_BY = '"'
EMPTY_FIELD_AS_NULL = TRUE

In [ ]:
COPY INTO employees_csv (
    EMPLOYEE_ID,
	FIRST_NAME,
	LAST_NAME,
	EMAIL,
	PHONE_NUMBER,
	HIRE_DATE,
	JOB_ID,
	SALARY,
	COMMISSION_PCT,
	MANAGER_ID,
	DEPARTMENT_ID,
	ADDRESS,
    ELT_BY,
    ELT_TS,
    FILE_NAME
)
FROM (
    SELECT $1, $2, $3, $4, $5, $6, $7, $8, $9, $10, $11, $12, 'my_app_name' AS ELT_BY, CURRENT_TIMESTAMP AS ELT_TS, METADATA$FILENAME AS FILE_NAME FROM '@employees_data_int_stage/employees2.csv.gz' (file_format => 'read_csv_format')
)
ON_ERROR = SKIP_FILE;

In [ ]:
select * from employees_csv;

In [ ]:
CREATE OR REPLACE TABLE employees_variant(
employee_data VARIANT
);

In [ ]:
INSERT INTO employees_variant(
SELECT TO_VARIANT(OBJECT_CONSTRUCT(*))
FROM employees_csv
);

In [ ]:
SELECT * FROM employees_variant;

Creating storage integration with s3 bucket

In [ ]:
CREATE OR REPLACE STORAGE INTEGRATION s3_integration
TYPE = EXTERNAL_STAGE
STORAGE_PROVIDER = 'S3'
STORAGE_AWS_ROLE_ARN = 'arn:aws:iam::615299733093:role/snowflake_assignment_role'
ENABLED = TRUE
STORAGE_ALLOWED_LOCATIONS = ("s3://snowflake-sigmoid-bucket/");

DESCRIBE INTEGRATION s3_integration;

Creating External Stage for AWS S3 bucket data

In [ ]:
CREATE OR REPLACE STAGE employees_data_ext_stage
URL = 's3://snowflake-sigmoid-bucket/'
STORAGE_INTEGRATION = s3_integration;

list @employees_data_ext_stage;

Creating schema for table to store external stage data

In [ ]:
CREATE OR REPLACE TABLE employees_external(
	EMPLOYEE_ID NUMBER(3,0),
	FIRST_NAME VARCHAR(16777216),
	LAST_NAME VARCHAR(16777216),
	EMAIL VARCHAR(16777216),
	PHONE_NUMBER VARCHAR(16777216),
	HIRE_DATE DATE,
	JOB_ID VARCHAR(16777216),
	SALARY NUMBER(5,0),
	COMMISSION_PCT NUMBER(3,2),
	MANAGER_ID NUMBER(3,0),
	DEPARTMENT_ID NUMBER(3,0),
	ADDRESS VARCHAR(16777216),
    elt_by VARCHAR(100),
    elt_ts TIMESTAMP_LTZ,
    file_name varchar(100)
);

In [ ]:
COPY INTO employees_external
FROM (
    SELECT $1, $2, $3, $4, $5, $6, $7, $8, $9, $10, $11, $12, 'my_app_name' AS ELT_BY, CURRENT_TIMESTAMP AS ELT_TS, METADATA$FILENAME AS FILE_NAME FROM '@employees_data_int_stage/employees2.csv.gz'
)
FILE_FORMAT = (skip_header = 1, field_optionally_enclosed_by = '"')
ON_ERROR = SKIP_FILE;

In [ ]:
SELECT * FROM employees_external;

Creating file format for the parquet file

In [ ]:
CREATE OR REPLACE FILE FORMAT infer_parquet_format
TYPE = PARQUET
COMPRESSION = AUTO
USE_LOGICAL_TYPE = TRUE
TRIM_SPACE = TRUE
REPLACE_INVALID_CHARACTERS = TRUE
NULL_IF = ( '\N', 'NULL', 'NUL', '' );

In [ ]:
SELECT * FROM TABLE(INFER_SCHEMA(
 LOCATION=>'@employees_data_ext_stage/titanic.parquet'
 , FILE_FORMAT=>'infer_parquet_format'
 , MAX_RECORDS_PER_FILE => 10));

In [ ]:
SELECT *, 'my_app_name' AS ELT_BY, CURRENT_TIMESTAMP AS ELT_TS, METADATA$FILENAME AS FILE_NAME FROM '@employees_data_ext_stage/titanic.parquet' (FILE_FORMAT => infer_parquet_format);

Creating masking policy for PII columns like email, address, and phone number

In [ ]:
CREATE OR REPLACE MASKING POLICY pii_mask AS (val string) RETURNS string ->
CASE
    WHEN current_role() IN ('DEVELOPER') THEN '**masked**'
    ELSE val
END;

In [ ]:
ALTER TABLE IF EXISTS employees_csv MODIFY COLUMN email SET MASKING POLICY pii_mask;
ALTER TABLE IF EXISTS employees_csv MODIFY COLUMN address SET MASKING POLICY pii_mask;
ALTER TABLE IF EXISTS employees_csv MODIFY COLUMN phone_number SET MASKING POLICY pii_mask

In [ ]:
use role DEVELOPER;

In [ ]:
SELECT * FROM employees_csv;